<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movies</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      #main-section {
        color: white;
        display: block;
        width: 100%;
        margin: auto;
        height: 800px;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        background: linear-gradient(to right, #000000, #222, #000);
        padding-top: 85px;
      }
      #heading {
        text-align: center;
      }
    </style>
  </head>
  <body>
    {% extends 'movies_base.html' %} {% load static %} {% block content %}
    <main>
      <div id="main-section">
        <div id="heading">
          <h1>Welcome to the Movies page</h1>
        </div>
      </div>
    </main>
    {% endblock %}
  </body>
</html>
