<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title_content %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/movies_base.css' %}">
    <link rel="stylesheet" href="https://use.typekit.net/med7fre.css">
</head>
<body>
    <header>
        <div id="navbar">
          <div class="left-nav">
            <div class="nav-link ">
              <a href="{% url 'movies_home_page' %}"><h3>MoooWe</h3></a>
            </div>
          </div>
          <div class="nav-right">
            <div class="nav-link ">
              <a href="{% url 'movies_home_page' %}"><h3>Home</h3></a>
            </div>
            <div class="nav-link ">
              <a href="{% url 'movies_movies' %}"><h3>Movies</h3></a>
            </div>
            <div class="nav-link ">
              <a href="{% url 'movies_genre' %}"><h3>Genres</h3></a>
            </div>
            <div class="nav-link ">
              <a href=""><h3>Book Now</h3></a>
            </div>
            <div class="nav-link ">
              <a href="{% url 'movies_login' %}"><h3>Login</h3></a>
            </div>
          </div>
        </div>
    </header>
    <div>
      {%block content%}
      {%endblock%}
    </div>
    <footer>
        
    </footer>
    <script src="https://kit.fontawesome.com/60c3389c89.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>