<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movies</title>
    <style>
      #main-section {
        color: white;
        display: block;
        width: 90%;
        margin: auto;
        height: 800px;
        border: 2px solid rgb(229, 196, 196);
        border-radius: 10px;
        margin-top: 10px;
        padding: 5px;
        background: linear-gradient(to right, #000000, #222, #000);
      }
      #heading {
        text-align: center;
      }
    </style>
  </head>
  <body>
    {% extends 'movies_base.html' %} {% load static %} {% block content %}
    <main>
      <div id="main-section">
        <div id="heading">
          <h1>Welcome to the Movies page</h1>
        </div>
      </div>
    </main>
    {% endblock %}
  </body>
</html>
